body {
  background: #C9184A;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FF4D6D;
}

.title {
  font-size: 5em;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

h3 {
  padding-top: .25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 #FF4D6D;
  padding: 2em 3em !important;
}

.date {
  color: white;
  text-shadow: 1px 2px 3px #590D22;
  margin-top: .3em !important;
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 5px;
  background: #590D22;
  color: white;
  transition: all .2s ease-in-out;
}

.button:hover {
  background: #590d23ee;
}

.title-memory {
  font-size: 3em;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.map {
  height: 400px;
  width: 400px;
}

.iframe-image {
  width: 1200px;
  height: 600px;
  border: 5px solid #590D22;
}

.flex-memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-content {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe-container {
  margin: 1em;
  border: 5px solid #590D22;
  padding: 1em;
  height: 500px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: #590D22;
    text-shadow: none;
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 1300px) {
  .flex-content {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 1800px) {
  .iframe-image {
    width: 1000px;
  }
}

@media only screen and (max-width: 1500px) {
  .iframe-image {
    width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  .iframe-image {
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .iframe-image {
    width: 90vw;
  }
}